trigger:
  batch: true
  branches:
    include:
      - main

pr:
  autoCancel: true
  branches:
    include:
      - main

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main

variables:
  - name: checkoutPath
    value: ansible_collections/ansible/windows
  - name: coverageBranches
    value: main
  - name: entryPoint
    value: .azure-pipelines/commands/entry-point.sh
  - name: fetchDepth
    value: 0
  - name: defaultContainer
    value: quay.io/ansible/azure-pipelines-test-container:7.0.0

pool: Standard

stages:
  - stage: Dependencies
    displayName: Dependencies
    jobs:
      - job: dep_download
        displayName: Download Dependencies
        pool:
          vmImage: ubuntu-latest
        steps:
          - checkout: self
            fetchDepth: 1
          - task: UsePythonVersion@0
            inputs:
              versionSpec: "3.10"
          - bash: python -m pip install ansible-core
            displayName: Install Ansible
          - bash: ansible-galaxy collection install -r tests/requirements.yml -p collections
            displayName: Install collection requirements
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: collections
              artifactName: CollectionRequirements
  - stage: Windows_1
    displayName: Windows 1
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/1
          targets:
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_2
    displayName: Windows 2
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/2
          targets:
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_3
    displayName: Windows 3
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/3
          targets:
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
  - stage: Windows_4
    displayName: Windows 4
    dependsOn:
      - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}/4
          targets:
            - name: 2019 WinRM HTTPS
              test: 2019/winrm/https
            - name: 2022 WinRM HTTPS
              test: 2022/winrm/https
            - name: 2022 PSRP HTTPS
              test: 2022/psrp/https
            - name: 2022 SSH Key
              test: 2022/ssh/key
            - name: 2025 PSRP HTTP
              test: 2025/psrp/http
            - name: 2025 SSH Key
              test: 2025/ssh/key
